/*GLOBAL*/
html
{
	position: relative;
	min-height: 100%;
}

body
{
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5em;

	margin: 0 0 75px; /*bottom value is current footer height*/

	background-image: url( "../images/ignasi-pattern.png" );

	/*fallback color*/
	background-color: grey;
}

h1, h2, h3, h4
{
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-weight: bold;
	margin-top: 10px;
}

h1
{
	font-size: 1.75em;
}

h2
{
	font-size: 1.5em;
}

h3
{
	font-size: 1.333em;
}

h4
{
	font-size: 1.333em;
}

label
{
	color: #444;
}

/*FOR CONSISTENT WIDTH*/
.container
{
	max-width: 960px;
}

/*HEADER*/
.navbar
{
	background-color: #FFF;
	border-bottom: 2px #CCC solid;
}

.navbar-brand
{
	font-family: serif;
	font-size: 2em;
	font-weight: bold;
	color: #FFF;
	background-color: #4aaaa5;
}

/*override whatever bootstrap is doing*/
.navbar-brand:hover
{
	color: #FFF;
}

.nav > li > a
{
	color: #AAA;
	/*border-right: 1px #DDD solid;*/
}

.nav > li > a:after
{
	padding-left: 10px;
	content: " |";
	color: #DDD;
}

/*to remove the "|" in xs mode*/
@media (max-width: 767px) 
{
	.nav > li > a:after
	{
		padding-left: 0px;
		content: "";
		color: #DDD;
	}
}
.nav > li > a:hover
{
	color: #DD817A;
	/*text-decoration: underline;*/
	background-color: #FFF;
}
/*default bootstrap has a background with padding (so whole thing changes when rolled over)*/
/*that shit MUST align correctly*/
.nav > li > a:last-child
{
	padding-right: 0px;
}

/*hamburger menu*/
.icon-bar
{
	background-color: #4aaaa5;
}

/*CONTENT*/
main, aside
{
	background-color: #FFF;
}

.content
{
	padding: 20px;
	border: 1px #dddddd solid;
}

.portrait
{
	float: left;
	margin-right: 16px;
	margin-bottom: 12px;
	width: 300px;
}

/*CONTACT*/

/*overright default blue outline on form inputs to be the main(teal) color*/
.form-control:focus
{
	border-color: #4aaaa5;
	outline: 1px #4aaaa5 solid;
}

.btn-primary
{
	background-color: #4aaaa5;
	border: none;
	border-radius: 0;
}

.btn-primary:focus
{
	background-color: #65DEDB;
}

.btn-primary:hover
{
	background-color: #65DEDB;
}

/*PORTFOLIO*/
.portfolio-item
{
	padding-left: 20px;
	padding-bottom: 20px;
}

.portfolio-item-content
{
	position: relative;
}

.portfolio-label
{
	width: calc( 100% - 4px );
	height: 60px;

	position: absolute;
	bottom: 20px;
	background-color: #4aaaa5;
	padding-top: 6px;
}

.portfolio-label > h2
{
	color: #FFF;
}

/*SIDEBAR*/

/*FOOTER*/
footer
{
	margin-top: 200px;
	position: absolute;

	bottom: 0px;
	left: 0px;

	height: 75px;
	width: 100%;

	background-color: #666666;
	border-top: 6px #4aaaa5 solid;
}

.footer-text
{
	padding-top: 20px;
	color: #cccccc;
}

/*DEBUG*/
.debug
{
	border: 1px solid red;
}